.listHolder{
    border : 2px solid gray;
    text-align: center;
    width : 500px;
    margin: auto;
    margin-top : 30px;
    padding: 10px;

}
.addList {
    border-radius: 30px;
    border-color: gray;
    background-color: rgb(5, 190, 45);
    color: white;
    font-size: large;
    padding: 5px;
    width: 35px;
}

.inputField {
    padding: 5px;
    font-size: large;
}
.deleteList {
    border-radius: 30px;
    border-color: black;
    background-color: red;
    color: white;
    font-size: large;
    width: 30px;
    height: 30px;
}

.task{
    border: 1px solid black;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    padding: 5px;
    border-radius: 30px;
    margin: 10px;
}